<div class="card" style="background-color: lightyellow;">
    <h1 style="text-align: center ; text-transform: uppercase; text-decoration: underline ; font-weight: 800;">Shop By Category</h1>
    <div class="card-body" style="background-color: lightsalmon; height: 1500px; width: 80%; margin-left: 10%; border-radius: 30px;">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" >
        <a href="/oil" > 
          <div class="card" id="two">
            <img src="../../assets/ca1.jpg" class="card-img-top" alt="..."  id="three">
            <div class="card-body">
              <h5 class="card-title" >Edible Oil</h5>
            </div>
          </div>
        </a> 
        </div>
        <div class="col">
          <a href="/atta">
            <div class="card" id="two">
              <img src="../../assets/ca2.jpg" class="card-img-top" alt="..." id="three">
              <div class="card-body">
                <h5 class="card-title">Atta & Flours</h5>
              </div>
            </div>
          </a>
          </div>
          <div class="col">
            <a href="/rice">  
              <div class="card" id="two">
                <img src="../../assets/ca3.jpg" class="card-img-top" alt="..." id="three">
                <div class="card-body">
                  <h5 class="card-title">Rice & Rice Product</h5>
                </div>
              </div>
            </a> 
          </div>    
        <div class="col">
          <a href="/dals">
            <div class="card" id="two">
              <img src="../../assets/ca4.jpg" class="card-img-top" alt="..." id="three">
              <div class="card-body">
                <h5 class="card-title">Dals & Pulses</h5>
               </div>
            </div>
         </a>
        </div>
       <div class="col">
          <a href="/nuts">
            <div class="card" id="two">
               <img src="../../assets/ca5.jpg" class="card-img-top" alt="..." id="three">
              <div class="card-body">
                <h5 class="card-title">Dry Fruuits</h5>
               </div>
            </div>
           </a>
      </div>
        <div class="col"><a href="/masala">
          <div class="card" id="two">
            <img src="../../assets/ca6.jpg" class="card-img-top" alt="..." id="three">
            <div class="card-body">
              <h5 class="card-title">Masala & Spices</h5>
             </div>
          </div></a>
        </div>
        <div class="col"><a href="/bisc">
          <div class="card" id="two">
            <img src="../../assets/ca7.jpg" class="card-img-top" alt="..." id="three">
            <div class="card-body">
              <h5 class="card-title">Biscuits & Snacks</h5>
            </div>
          </div></a>
        </div>
        <div class="col"><a href="/noodles">
          <div class="card" id="two">
            <img src="../../assets/ca8.jpg" class="card-img-top" alt="..." id="three">
            <div class="card-body">
              <h5 class="card-title">Noodles & Pasta</h5>
            </div>
          </div></a>
        </div>
        <div class="col"><a href="/tea">
          <div class="card" id="two">
            <img src="../../assets/ca9.jpg" class="card-img-top" alt="..." id="three">
            <div class="card-body">
              <h5 class="card-title">Tea & Coffe</h5>
            </div>
          </div></a>
        </div>
        <div class="col"><a href="/drinks">
          <div class="card" id="two">
            <img src="../../assets/ca10.jpg" class="card-img-top" alt="..." id="three">
            <div class="card-body">
              <h5 class="card-title">Cold Drinks & Juices</h5>
            </div>
          </div></a>
        </div>
        <div class="col"><a href="/bakery">
          <div class="card" id="two" >
            <img src="../../assets/ca11.jpg" class="card-img-top" alt="..." id="three">
            <div class="card-body">
              <h5 class="card-title">Dairy & Bakery</h5>
            </div>
          </div></a>
        </div>
        <div class="col"><a href="/mom">
          <div class="card" id="two">
            <img src="../../assets/ca20.jpg" class="card-img-top" alt="..." id="three">
            <div class="card-body">
              <h5 class="card-title">Mom & Baby Care</h5>
            </div>
          </div></a>
        </div>
        <div class="col"><a href="/choc">
          <div class="card" id="two">
            <img src="../../assets/ca12.jpg" class="card-img-top" alt="..." id="three">
            <div class="card-body">
              <h5 class="card-title">Chocolates & sweets</h5>
            </div>
          </div></a>
        </div>
        <div class="col"><a href="/salt">
          <div class="card" id="two">
            <img src="../../assets/ca13.jpg" class="card-img-top" alt="..." id="three">
            <div class="card-body">
              <h5 class="card-title">Salt, Sugar & Jaggry</h5>
            </div>
          </div></a>
        </div>
        <div class="col"><a href="/veg">
          <div class="card" id="two">
            <img src="../../assets/ca14.jpg" class="card-img-top" alt="..." id="three">
            <div class="card-body">
              <h5 class="card-title">Fruits & Vegetables</h5>
            </div>
          </div></a>
        </div>
        <div class="col"><a href="/premium">
          <div class="card" id="two">
            <img src="../../assets/ca15.jpg" class="card-img-top" alt="..." id="three">
            <div class="card-body">
              <h5 class="card-title">Premium Fruits</h5>
            </div>
          </div></a>
        </div>
        <div class="col"><a href="/care">
          <div class="card" id="two">
            <img src="../../assets/ca16.jpg" class="card-img-top" alt="..." id="three">
            <div class="card-body" >
              <h5 class="card-title">Home Care</h5>
            </div>
          </div></a>
        </div>
      </div>

    </div>